.navbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    height: 80px;
}
.navbar-home{
    position: fixed;
    left: 50px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.add-btn{
    position: fixed;
    right: 50px;
}
