<div class="container mt-3">
    <div class="row">
      <div class="col-md-6  mx-auto">
        <div>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
        </div>
        <div class="card mt-1">
          <div class="card-header fs-3 text-center">Edit Product</div>
  
          <div class="card-body">
            <form (ngSubmit)="updateProduct()">
              <div class="mb-2">
                <label><h5>Enter Product Name</h5></label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  required
                  [(ngModel)]="product.name"
                />
              </div>
  
              <div class="mb-2">
                <label><h5>Enter Product Description</h5></label>
                <textarea
                  name="descr"
                  class="form-control"
                  required
                  [(ngModel)]="product.descr"
                ></textarea>
              </div>
  
              <button type="submit" class="btn btn-primary w-100 mt-1">
                Update Product
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
